<!DOCTYPE html>
<html>
<head>
    <title>Current Date</title>
</head>
<body>
    <h1>Current Date</h1>
    <p>The current date is {{ current_date }}</p>
    <p>Number of blogs is {{Current_blog_number}}</p>
</body>
<head>
    <title>My Form</title>
</head>
<body>
    <h1>My Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

 
        <!-- <input type="text" name="output_field" value="{{ form.cleaned_data.output_field }}"> -->
        <p>Output: {{ output_data }}</p>
        <button type="submit" name="action" value="save_output">Save</button>
        <button type="submit" name="action" value="get_output">Only output</button>
        <button type="submit" name="action" value="delete_output">Delete output</button>
        <button type="submit" name="action" value="delete_all">Delete all</button>
        
    </form>

    <p>Latest text: {{ latest_text }} </p>

    <form method="GET">
        {% csrf_token %}
        
        <button type="submit" name="get_data" value="latest">Get latest data</button>
        <button type="submit" name="get_data" value="clear">Clear latest data</button>
        <button type="submit" name="get_data" value="delete">Delete all database</button>
    </form>

    <h1>List of Links</h1>
    <ul>
        {% for link in links %}
            <li><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>


</body>
</html>